@import "../../../styles";

.skill-container {
  .display-flex();
  .flex-direction-row();
  .align-items-center();
  .justify-content-center();
  background: #ee7722;

  & * {
    margin-right: 10px;
  }

  img {
    // todo scale same as acompanying text
    width: 5vw;
    height: 5vw;
  }
}
