<div class="main dark-mode" [ngClass]="{'dark-mode': darkMode.darkModeEnabled}">
  <h2 class="title"></h2>
  <!--<div class="images">-->
  <!--&lt;!&ndash;todo maybe make profile pic background transparent&ndash;&gt;-->
  <!--<img src="{{assetPath + '/transparent-headshot.png'}}" width="200" height="200">-->
  <!--<h1>X</h1>-->
  <!--<img src="{{assetPath + '/ubc_logo.png'}}" width="150" height="218">-->
  <!--</div>-->
  <div class="content-container">
    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > const me = {{ '{' }} <br>
        ... name: 'Declan Herbertson', <br>
        ... location: 'Vancouver, BC', <br>
        ... education: '<a target="_blank" href="https://www.ubc.ca/">University of British Columbia</a>', <br>
        ... major: 'Computer Science', <br>
        ... expectedGraduation: 'May 2022', <br>
        ... hobbies: [ 'Basketball', 'Hackathons', 'Reading' ] <br>
        {{ '}' }} <br>
        => undefined
      </div>
    </div>
    <!--  <div class="skills rel">-->
    <!--    <app-style-dots></app-style-dots>-->
    <!--    <div class="languages">-->
    <!--      <h3>Languages</h3>-->

    <!--      <h4>Proficient</h4>-->
    <!--      <div class="skills-list">-->
    <!--        <app-skill *ngFor="let skill of testSkillList" [skill]="skill"></app-skill>-->
    <!--      </div>-->

    <!--      <h4>Working Knowledge</h4>-->
    <!--      <div class="skills-list">-->
    <!--        <app-skill *ngFor="let skill of testSkillList" [skill]="skill"></app-skill>-->
    <!--      </div>-->

    <!--    </div>-->

    <!--  </div>-->
    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > experience(me); <br>
        => {{ '{' }} <br>
        ... workExperience: {{ '{' }} <br>
        ...... {{ '{' }} <br>
        ......... company: '<a target="_blank" href="https://www.dialpad.com/">Dialpad</a>', <br>
        ......... title: 'Software Engineer, Intern', <br>
        ......... startDate: 'May 2019', <br>
        ......... endDate: 'Sept 2019', <br>
        ...... {{ '}' }} <br>
        ...... {{ '{' }} <br>
        ......... company: '<a target="_blank" href="https://www.visier.com/">Visier</a>', <br>
        ......... title: 'Software Developer, Co-op', <br>
        ......... startDate: 'Apr 2018', <br>
        ......... endDate: 'Dec 2018', <br>
        ...... {{ '}' }} <br>
        ... {{ '}' }} <br>
      </div>
    </div>

    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > skills(me); <br>
        => {{ '{' }} <br>
        ... languages: [ <br>
        ...... {{ '{' }} <a target="_blank" href="https://www.javascript.com">javaScript</a>/<a target="_blank" href="https://www.typescriptlang.org/">typeScript</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="">python</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.w3.org/html/">html</a>/<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">css</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.oracle.com/java/">java</a>: 'Basic' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.scala-lang.org/">scala</a>: 'Basic' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="http://lesscss.org/">less</a>: 'Basic' {{ '}' }},<br>
        ...... ], <br>
        ... technologies: [ <br>
        ...... {{ '{' }} <a target="_blank" href="https://git-scm.com/">git</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://angular.io/">angular</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://vuejs.org/">vue</a>: 'Proficient' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://cloud.google.com/appengine/">googleAppEngine</a>: 'Basic' {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://en.wikipedia.org/wiki/Linux">linux</a>: 'Basic' {{ '}' }},<br>
        ...... ], <br>
        ... {{ '}' }} <br>
      </div>
    </div>
  </div>
</div>
