<div class="main page-content dark-mode" [ngClass]="{'dark-mode': darkMode.darkModeEnabled}">
  <h2 class="title"></h2>
  <!--<div class="images">-->
  <!--&lt;!&ndash;todo maybe make profile pic background transparent&ndash;&gt;-->
  <!--<img src="{{assetPath + '/transparent-headshot.png'}}" width="200" height="200">-->
  <!--<h1>X</h1>-->
  <!--<img src="{{assetPath + '/ubc_logo.png'}}" width="150" height="218">-->
  <!--</div>-->
  <div class="content-container">
    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > const me = {{ '{' }} <br>
        ... <span class="var"> name</span>: 'Declan Herbertson', <br>
        ... <span class="var"> location</span>: 'Vancouver, BC', <br>
        ... <span class="var"> education</span>: <span class="a">'</span><a target="_blank" href="https://www.ubc.ca/">University of British Columbia</a><span class="a">'</span>, <br>
        ... <span class="var"> major</span>: <span class="important-info">'Computer Science'</span>, <br>
        ... <span class="var"> expectedGraduation</span>: 'May 2022', <br>
        ... <span class="var"> hobbies</span>: [ 'Basketball', 'Hackathons', 'Reading' ] <br>
        {{ '}' }} <br>
        => undefined
      </div>
    </div>
    <!--  <div class="skills rel">-->
    <!--    <app-style-dots></app-style-dots>-->
    <!--    <div class="languages">-->
    <!--      <h3>Languages</h3>-->

    <!--      <h4>Proficient</h4>-->
    <!--      <div class="skills-list">-->
    <!--        <app-skill *ngFor="let skill of testSkillList" [skill]="skill"></app-skill>-->
    <!--      </div>-->

    <!--      <h4>Working Knowledge</h4>-->
    <!--      <div class="skills-list">-->
    <!--        <app-skill *ngFor="let skill of testSkillList" [skill]="skill"></app-skill>-->
    <!--      </div>-->

    <!--    </div>-->

    <!--  </div>-->
    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > experience(me); <br>
        => {{ '{' }} <br>
        ... <span class="var"> workExperience</span>: {{ '{' }} <br>
        ...... {{ '{' }} <br>
        ......... <span class="var"> company</span>: <span class="a">'</span><a target="_blank" href="https://www.dialpad.com/">Dialpad</a><span class="a">'</span>, <br>
        ......... <span class="var"> title</span>: <span class="important-info">'Software Engineer, Intern'</span>, <br>
        ......... <span class="var"> startDate</span>: 'May 2019', <br>
        ......... <span class="var"> endDate</span>: 'Sept 2019', <br>
        ...... {{ '}' }} <br>
        ...... {{ '{' }} <br>
        ......... <span class="var"> company</span>: <span class="a">'</span><a target="_blank" href="https://www.visier.com/">Visier</a><span class="a">'</span>, <br>
        ......... <span class="var"> title</span>: <span class="important-info">'Software Developer, Co-op'</span>, <br>
        ......... <span class="var"> startDate</span>: 'Apr 2018', <br>
        ......... <span class="var"> endDate</span>: 'Dec 2018', <br>
        ...... {{ '}' }} <br>
        ... {{ '}' }} <br>
      </div>
    </div>

    <div class="content-shell rel">
      <app-style-dots></app-style-dots>
      <div class="content-body">
        > skills(me); <br>
        => {{ '{' }} <br>
        ... <span class="var"> languages</span>: [ <br>
        ...... {{ '{' }} <a target="_blank" href="https://www.javascript.com">javaScript</a>/<a target="_blank" href="https://www.typescriptlang.org/">typeScript</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.python.org/">python</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.w3.org/html/">html</a>/<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS">css</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.oracle.com/java/">java</a>: <span class="skill-level">'Basic'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://www.scala-lang.org/">scala</a>: <span class="skill-level">'Basic'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="http://lesscss.org/">less</a>: <span class="skill-level">'Basic'</span> {{ '}' }},<br>
        ...... ], <br>
        ... <span class="var"> technologies</span>: [ <br>
        ...... {{ '{' }} <a target="_blank" href="https://git-scm.com/">git</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://angular.io/">angular</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://vuejs.org/">vue</a>: <span class="skill-level">'Proficient'</span> {{ '}' }},<br>
        ...... {{ '{' }} <a target="_blank" href="https://cloud.google.com/appengine/">googleAppEngine</a>: <span class="skill-level">'Basic'</span> {{ '}' }},<br>
                          ...... {{ '{' }} <a target="_blank" href="https://en.wikipedia.org/wiki/Linux">linux</a>: <span class="skill-level">'Basic'</span> {{ '}' }},<br>
        ...... ], <br>
        ... {{ '}' }} <br>
      </div>
    </div>
  </div>
</div>
