@import "../../styles";
.main {
  margin-bottom: 50px;
  .content();
  .flex-direction-column();
  .align-items-center();
  //text-align: center;
  line-height: 1.5;
  font-size: 16px;

  &.dark-mode {
    .content-body {
      color: white;
    }
    .a, a {
      color: @green;
    }
    .important-info {
      color: @red-light;
    }
    .skill-level {
      color: @yellow;
    }
    .var {
      color: @blue;
    }
  }
  .content-body {
    color: black
  }
  .a, a {
    text-decoration: none;
    color: @green-super-dark;
  }
  .important-info {
    color: @red-dark;
  }
  .skill-level {
    color: @yellow-super-dark;
  }
  .var {
    color: @dark-blue;
  }

  .console-text {
    color: black;
  }


  a:hover {
    color: blue;
  }

  .images {
    .vertical-on-small-screens();
    margin-bottom: 50px;
    & *{
      margin: 0 75px 0 75px;
    }
    .display-flex();
    .align-items-center();
    .justify-content-center();
    flex-wrap: wrap;
    font-size: 75px;

    .img-wrapper {
      min-width: 0;
      margin: 5px;
    }
  }

  .title {
    position: relative;
    text-align: center;
    font-weight: 500;
    //font-size: calc(12px + 3vw);
    font-size: 22px
  }

  .title::after {
  content: "";
  position: relative;
  top: 2px;
  right: 0;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: black;
  vertical-align: top;
  width: 10px;
  /* Set height to the line height of .text */
  height: 28px;
  /*
  Animation paramaters:
  blink = animation-name,
  1s = animation-duration,
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

  .content-shell {
    //font-size: calc(16px + 1vw);
    //line-height: 1.5em;
    //max-width: 1200px;
    //font-weight: 500;
    //margin: 10px;
    .content-background();
  }

  .skills {
    padding-top: 5%;
    margin-top: 5%;
  }

  &.dark-mode {
    background: none;
    .title::after {
      background-color: white;
    }
    .content-shell {
      .content-background-dark();
    }
  }

  .skills-list {
    .display-flex();
    .flex-direction-row();
    .flex-wrap();
    .justify-content-center();

    & * {
      margin: 5px;
    }


  }

}


