@import "../../styles";
.main {
  .content();
  .align-items-center();
  height: 75vh;

  .title {
    .display-flex();
    .flex-direction-column();
    .justify-content-center();
    .align-items-center();

    .name {
      font-size: calc(12px + 5vw);
      font-weight: bold;
      margin-bottom: 5px;
    }

    .short-descriptor {
      text-transform: uppercase;
      font-size: calc(12px + 1.5vw);
      padding-bottom: .5vw;
     // border-bottom: .5vw solid;
    }
  }
}
