@import "../styles";
.body {
  .light-mode();
}

.background {
  .light-mode();
  .tap-transparent();
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  &.dark-mode {
    .dark-mode();
  }
}

.application {
  .display-flex();
  .flex-direction-column();
  min-height: 100vh;
  //font-family: SansSerif, sans-serif;
  font-family: monaco,Consolas,Lucida Console,monospace;

  .inserted-content {
    flex: 1;
  }
}

.hide {
  display: none !important;
}

