@import "../styles";
.body {
  .light-mode();
}

.background {
  .light-mode();
  .tap-transparent();
  .overflow-hidden();
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.application {
  font-family: SansSerif, sans-serif;
}

.main-body {
  .light-mode();
}

.hide {
  display: none !important;
}

