
<div class="nav-bar" [ngClass]="{'dark-mode': darkMode.darkModeEnabled}">
  <div class="nav-tabs">
     <app-nav-bar-option [ngClass]="{'hide': hiddenSections.includes(sections.HOME)}" [content]="'Home'" [path]="'/'"></app-nav-bar-option>
    <app-nav-bar-option [ngClass]="{'hide': hiddenSections.includes(sections.ABOUT)}" [content]="'About'" [path]="'/about'"></app-nav-bar-option>
    <app-nav-bar-option [ngClass]="{'hide': hiddenSections.includes(sections.PROJECTS)}" [content]="'Projects'" [path]="'/projects'"></app-nav-bar-option>
  </div>
  <app-mode-toggle class="mode-toggle"></app-mode-toggle>
</div>
