@import "../../styles";

.dark-mode-nav {
  .dark-mode();
  //background-color: gray !important;
  background-color: rgba(128, 128, 128, .5) !important;

}

.light-mode-nav {
  .light-mode();
  //background-color: lavender;
  background-color: rgba(230, 230, 250, .5);

}

.nav-bar {
  position: relative;
  //border-radius: 5px;
  .light-mode-nav();
  font-size: calc(12px + .75vw);
  .display-flex();
  .flex-direction-row();
  .justify-content-space-around();

  .mode-toggle {
    .display-flex();
    .align-items-center();
  }
}

.hide {
  display: none !important;
}





