
<div class="nav-bar" [ngClass]="{'dark-mode-nav': darkMode.darkModeEnabled}">
  <!--<div routerLink="/about" class="nav-option" [ngClass]="{'active': active('/about')}">-->
    <!--<div class="border-top"></div>-->
    <!--<div class="border-right"></div>-->
    <!--<div class="border-bottom"></div>-->
    <!--<div class="border-left"></div>-->
    <!--<div class="inner-content">-->
      <!--About-->
    <!--</div>-->
  <!--</div>-->
  <!--<div routerLink="/projects" class="nav-option" [ngClass]="{'border-bottom': active('/projects')}" >Projects</div>-->
  <!--<div routerLink="/experience" class="nav-option" [ngClass]="{'border-bottom': active('/experience')}" >Experience</div>-->
  <app-nav-bar-option [content]="'About'" [path]="'/about'"></app-nav-bar-option>
  <app-nav-bar-option [content]="'Projects'" [path]="'/projects'"></app-nav-bar-option>
  <app-nav-bar-option [content]="'Experience'" [path]="'/experience'"></app-nav-bar-option>
  <app-mode-toggle class="mode-toggle"></app-mode-toggle>
</div>
