.light-mode {
  transition: background-color 350ms linear;
  color: black;
  background: lightseagreen;
}
.dark-mode {
  color: white !important;
  background: darkslateblue !important;
}

.routed-page {
  position: relative;
  display: flex;
  justify-content: center;
}
